<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
	/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
	function toggleResponsive() {
		var x = document.getElementById("topnav");
		if (x.className === "tabContainer") {
			x.className += " responsive";
		} else {
			x.className = "tabContainer";
		}
	} 
</script>

<div class="lowerHeaderContainer">
    <nav class="tabContainer" id='topnav'>	
		<a href="javascript:void(0);" class="icon" onclick="toggleResponsive()">
			<i class="fa fa-bars"></i>
		</a>
		<a href="/">
			<div class="logoContainer">
				<img src='/assets/logo.png' class='logo'>
			</div>
		</a>
        <a class="tab" href="/">Mattsaka.net</a>
		<a class="tab" href="/quote">Random Quote</a>
		<a class="tab" href="/persosona">Persosona</a>
		
	<form id="searchForm" method="GET" action="/search">
		<% if (typeof query != 'string'){
			query = '';
		}%>
		<input class='searchQuery' type="text" name="query" placeholder='Search' value=<%=query%>>
		<input class="searchSubmit" type="submit" value="&telrec;">
	</form>
    </nav>
</div>
