<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%- include ('partials/head'); -%>
	<link rel="stylesheet" href="/assets/stylesheets/quote.css">
</head>
<body>
<main>
	<div class='quoteButtonsContainer'>
		<div class='quoteContainer'>
			<%- include ('partials/quote', {linksEnabled: true}); -%>
		</div>
	</div>
</main>
<footer>
	<%- include ('partials/footer'); -%>
</footer>
</body>
</html>
