<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Book of the DSS</title>
    <!--Opengraph data from the Vimeo embed on this page. -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=5.0,user-scalable=yes">
        <meta property="og:site_name" content="Vimeo">
            <meta property="og:url" content="https://vimeo.com/679409582">
            <meta property="og:type" content="video.other">
            <meta property="og:title" content="Persosona 4 - Episode 1">
            <meta property="og:description" content="Did he say 'so' twice?!">
            <meta property="og:updated_time" content="2022-02-19T01:15:32-05:00">
            <meta property="og:image" content="https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F1376813360-3bca49d7371af764e325b39bc4357203e7125f0fefef82a1bd6ee77a2a0054f6-d_1280x720&src1=https%3A%2F%2Ff.vimeocdn.com%2Fimages_v6%2Fshare%2Fplay_icon_overlay.png">
            <meta property="og:image:secure_url" content="https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F1376813360-3bca49d7371af764e325b39bc4357203e7125f0fefef82a1bd6ee77a2a0054f6-d_1280x720&src1=https%3A%2F%2Ff.vimeocdn.com%2Fimages_v6%2Fshare%2Fplay_icon_overlay.png">
            <meta property="og:image:type" content="image/jpg">
            <meta property="og:image:width" content="1280">
            <meta property="og:image:height" content="720">
            <meta property="al:ios:app_name" content="Vimeo">
            <meta property="al:ios:app_store_id" content="425194759">
            <meta property="al:ios:url" content="vimeo://app.vimeo.com/videos/679409582">
            <meta property="al:android:app_name" content="Vimeo">
            <meta property="al:android:package" content="com.vimeo.android.videoapp">
            <meta property="al:android:url" content="vimeo://app.vimeo.com/videos/679409582">
            <meta property="al:web:should_fallback" content="true">
        <meta name="description" content="This is &quot;Persosona 4 - Episode 1&quot; by Shabacka on Vimeo, the home for high quality videos and the people who love them.">
        <meta name="twitter:card" content="player">
        <meta name="twitter:site" content="@vimeo">
        <meta name="twitter:title" content="Persosona 4 - Episode 1">
        <meta name="twitter:description" content="This is &quot;Persosona 4 - Episode 1&quot; by Shabacka on Vimeo, the home for high quality videos and the people who love them.">
        <meta name="twitter:image" content="https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F1376813360-3bca49d7371af764e325b39bc4357203e7125f0fefef82a1bd6ee77a2a0054f6-d_1280x720&amp;src1=https%3A%2F%2Ff.vimeocdn.com%2Fimages_v6%2Fshare%2Fplay_icon_overlay.png">
        <meta name="twitter:player" content="https://player.vimeo.com/video/679409582?h=77442ec04f">
        <meta name="twitter:player:width" content="1280">
        <meta name="twitter:player:height" content="720">
        <meta name="twitter:site" content="@vimeo">
        <meta name="twitter:app:name:iphone" content="Vimeo">
        <meta name="twitter:app:id:iphone" content="425194759">
        <meta name="twitter:app:url:iphone" content="vimeo://app.vimeo.com/videos/679409582">
        <meta name="twitter:app:name:ipad" content="Vimeo">
        <meta name="twitter:app:id:ipad" content="425194759">
        <meta name="twitter:app:url:ipad" content="vimeo://app.vimeo.com/videos/679409582">
        <meta name="twitter:app:name:googleplay" content="Vimeo">
        <meta name="twitter:app:id:googleplay" content="com.vimeo.android.videoapp">
        <meta name="twitter:app:url:googleplay" content="vimeo://app.vimeo.com/videos/679409582">


    <link rel="stylesheet" href="/assets/stylesheets/main.css">
</head>
<body>
<header>
  <%- include ('partials/nav'); -%>
</header>
<main>
    <div>
        <iframe title='Persosona Episode 1'
        style="margin-top:3em"
        src="https://player.vimeo.com/video/679409582?h=77442ec04f?byline=false&portrait=false"
        width="640"
        height="360"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen>
        </iframe>
    </div>
</main>
<footer>
    <%- include ('partials/footer'); -%>
</footer>
</body>
</html>