<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../assets/stylesheets/profile.css">
    <%- include ('partials/head'); -%>
</head>
<body>
<header>
  <%- include ('partials/nav'); -%>
</header>
<main>
    <div class="white">
		<h1>DSS Member</h1>
		<br>
		<img height="200px" src="../assets/avatars/kyle.png">
		<img height="200px" src="../assets/emoji/KyleObserve.png">
		<br>
		<p>A description befitting of the person.</p>
		<br>
		<img height="250px" src="../assets/charts/kyle_chart.png">
		<br>
		<p>It might be a good idea to add this to the search results for a person.</p>
    </div>
</main>
<footer>
    <%- include ('partials/footer'); -%>
</footer>
</body>
</html>