<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%- include ('partials/head'); -%>
</head>
<body>
<header>
	<%- include ('partials/nav'); -%>
</header>
<main>
	<form id="removalForm" method="POST" action="/removequote">
		<div id='formContainer' class='formContainer'>
			<label for="password">Password: </label>
			<input type="password" name="password">
			<br>
			<label for="id">Quote ID to remove:</label>
			<input type="number" name="id"><br>
			<br>
		</div>
		<input class="submitButton" type="submit" value="submit">
	</form>
</main>
<footer>
	<%- include ('partials/footer'); -%>
</footer>
</body>
</html>
