<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%- include ('partials/head'); -%>
	<link rel="stylesheet" href="/assets/stylesheets/submit.css">
	<link rel="stylesheet" href="/assets/stylesheets/quote.css">
</head>
<body>
<header>
	<%- include ('partials/nav'); -%>
</header>
<main>
	<div class='quoteContainer'>
		<form id="submissionForm" method="POST" action="/addquote">
			<div class="formContainer" id="formContainer">
				<br>
				<label for="password">Password: </label>
				<input type="password" name="password" placeholder="password">
				<br><br>
				<div class="avatar">
					<img src="/assets/avatars/default.png">
				</div>
				<div class="contents">
					<h2 class="nameHeader">
						<input type="text" name="sender" placeholder="IRL First Name" class="username">
					</h2>
					<div class="messageText">
						<textarea rows="14" cols="10" wrap="soft" name="message" placeholder="Message text" class="messageText"></textarea>
					</div>
					<div class="embed">
						<input type="text" name="embed" placeholder= "ImageEmbedFile.jpg (optional)" class="embedInput">
					</div>
				</div>
				<br>
				<div class="avatar">
					<img src="/assets/avatars/default.png">
				</div>
				<div class="contents">
					<h2 class="nameHeader">
						<input type="text" name="sender" placeholder="IRL First Name" class="username">
					</h2>
					<div class="messageText">
						<textarea rows="14" cols="10" wrap="soft" name="message" placeholder="Message text" class="messageText"></textarea>
					</div>
					<div class="embed">
						<input type="text" name="embed" placeholder= "ImageEmbedFile.jpg (optional)" class="embedInput">
					</div>
				</div>
				<br>
			</div>
			<button id='addMessageBtn' type='button'>Add Message</button><br>
			<button class="submitButton" type="submit">Submit This Quote</button>
		</form>
	</div>
</main>
<footer>
	<%- include ('partials/footer'); -%>
	<script src='/assets/scripts/AddQuote.js' type='text/javascript'></script>
</footer>
</body>
</html>
