label{
	font-weight: bold;
	font-size:medium;
	color: #dcddde;
	font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#submissionForm{
	text-align: left;
}

#submissionForm input, #submissionForm textarea {
	outline: none;
	border: none;
	background-color: transparent;
	color: #dcddde;
	font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	width: 500px;
	resize: none;
	overflow: hidden;
}

#submissionForm textarea{
	height: 40px;
}

.messageText{
	height:min-content;
}

.avatar{
	padding-top: 5px;
}

.submitButton, #addMessageBtn{
	background-color: rgb(117, 81, 245);
	border-style: none;
	border-radius: 5%;
	margin-top: 20px;
	padding: 10px;
	width: 570px;
	font-weight: bold;
	font-size:medium;
	color: #dcddde;
	font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
}